{% extends 'BLuePages/base.html' %}
{% load static %}

{% block content %}

<div class="home-image">
    <div class="home-images-wrapper">
        <!--<img class="home-image-wrapper"src="images/m87.jpg" alt="Image taken of blackhole at the center of galaxy M87">-->
        <div class="home-image-wrapper-About"></div>
    </div>
</div>

<div class="contactform1">
    <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSdSqtVyYQKZ63idhF_HpqLORiQA3ZbMhLlYNx6-wC9pXYteDA/viewform?embedded=true"
        width="700" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>

<div class="contactform2">
    <iframe <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSdSqtVyYQKZ63idhF_HpqLORiQA3ZbMhLlYNx6-wC9pXYteDA/viewform?embedded=true"
        width="390" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>

<div class="contactform3">
    <iframe <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSdSqtVyYQKZ63idhF_HpqLORiQA3ZbMhLlYNx6-wC9pXYteDA/viewform?embedded=true"
        width="375" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>

<div class="contactform4">
    <iframe <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSdSqtVyYQKZ63idhF_HpqLORiQA3ZbMhLlYNx6-wC9pXYteDA/viewform?embedded=true"
        width="300" height="900" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>

{% endblock %}