{% extends 'BLuePages/base.html' %}
{% load static %}

{% block content %}

<div class="contactform1">
    <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSdSqtVyYQKZ63idhF_HpqLORiQA3ZbMhLlYNx6-wC9pXYteDA/viewform?embedded=true"
        width="700" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>

<div class="contactform2">
    <iframe <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSdSqtVyYQKZ63idhF_HpqLORiQA3ZbMhLlYNx6-wC9pXYteDA/viewform?embedded=true"
        width="390" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>

<div class="contactform3">
    <iframe <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSdSqtVyYQKZ63idhF_HpqLORiQA3ZbMhLlYNx6-wC9pXYteDA/viewform?embedded=true"
        width="375" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>

<div class="contactform4">
    <iframe <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSdSqtVyYQKZ63idhF_HpqLORiQA3ZbMhLlYNx6-wC9pXYteDA/viewform?embedded=true"
        width="300" height="900" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>

{% endblock %}