{% extends 'BLuePages/base.html' %}
{% load static %}

{% block content %}

<div class="home-image">
  <div class="home-images-wrapper">
    <!--<img class="home-image-wrapper"src="images/m87.jpg" alt="Image taken of blackhole at the center of galaxy M87">-->
    <div class="home-image-wrapper-Astro"></div>
  </div>
</div>

<div>
  <h1 class="aBriefHistoryOfAstronomy"><span>A Brief History of </span><span>Astronomy</span></h1>
</div>

<div>
  <h2 class="whereItAllBegan">Where it All Began</h2>
</div>

<article>
  <div class="article-title">404</div>
</article>



<!--<div>
    <h1 class="ourSolarSystem">Our Solar System</h1>
  </div>

  <article>
    <div class="solarsys">
      <div class="solarsys">
        <div class="gridline1"></div>
        <div class="gridline2"></div>
        <div class="solarsys-orbit"></div>
        <div class="asteroidbelt-orbit"></div>
        <div class="star sun"></div>
        <div class="planet mercury"></div>
        <div class="planet venus"></div>
        <div class="planet earth">
          <div class="moon"></div>
          <div class="moon2"></div>
        </div>
        <div class="planet mars"></div>
        <div class="asteroidbelt"></div>
        <div class="asteroidbelt1"></div>
        <div class="asteroidbelt2"></div>
        <div class="asteroidbelt3"></div>
        <div class="asteroidbelt4"></div>
        <div class="asteroidbelt5"></div>
        <div class="asteroidbelt6"></div>
        <div class="asteroidbelt7"></div>
        <div class="planet jupiter"></div>
        <div class="planet saturn"></div>
        <div class="planet uranus"></div>
        <div class="planet neptune"></div>
        <div class="planet pluto"></div>
      </div>
    </div>
    <div>
      <h1 class="captionTrueTimeScaled">True Time Scaled</h1>
    </div>
  </article>

  <article>
    <h2 class="article-title">The Sun</h2>
    <p class="article-para">

    </p>
  </article>


  <article>
    <h2 class="article-title">Mercury</h2>
    <p class="article-para">

    </p>
  </article>


  <article>
    <h2 class="article-title">Venus</h2>
    <p class="article-para">

    </p>
  </article>


  <article>
    <h2 class="article-title">Earth</h2>
    <p class="article-para">

    </p>
  </article>


  <article>
    <h2 class="article-title">Asteroid Belt</h2>
    <p class="article-para">

    </p>
  </article>


  <article>
    <h2 class="article-title">Jupiter</h2>
    <p class="article-para">

    </p>
  </article>


  <article>
    <h2 class="article-title">Saturn</h2>
    <p class="article-para">

    </p>
  </article>


  <article>
    <h2 class="article-title">Uranus</h2>
    <p class="article-para">

    </p>
  </article>


  <article>
    <h2 class="article-title">Neptune</h2>
    <p class="article-para">

    </p>
  </article>

  <article>
    <h2 class="article-title">Pluto</h2>
    <p class="article-para">

    </p>
  </article>


  </article>-->


{% endblock %}