{% extends 'BLuePages/base.html' %}
{% load static %}

{% block content %}

<div class="home-image">
    <div class="home-images-wrapper">
        <!--<img class="home-image-wrapper"src="images/m87.jpg" alt="Image taken of blackhole at the center of galaxy M87">-->
        <div class="home-image-wrapper-POW"></div>
    </div>
</div>

<div>
    <h1 class="devInAstro">Development in <span>Astronomy</span></h1>
</div>



<div class="tocDiv">
    <h1 class="tocContents">- Contents -<br>Development in Astronomy and Astrophysics<br>My
        Dev Portfolio<br>
        <!--Galaxies with Machine Learning by Lalith U-->
    </h1>
</div>

<div>
    <h2 class="devInAstronomyAndAstroPhysics">Development in <span>Astronomy and
            Astrophysics</span></h2>
</div>

<div>
    <h2 class="myDevPortfolio">My Dev Portfolio</h2>
</div>

<article>
    <p class="article-para">
        40404040404040404040404
    </p>

</article>

<!--<div>
    <h2 class="devGalaxies">Galaxies with Machine Learning by Lalith U</h2>
  </div>-->

{% endblock %}