{% extends 'BLuePages/base.html' %}
{% load static %}

{% block content %}

<article id="Purpose">
    <h1 class="purpose">Purpose</h1>

    <p class="purpose-para">
        The purpose of this website is to be a welcoming place for everyone and anyone
        with a newfound love for Aerospace and Astronomy. Read my blog where I
        attempt to answer the grand questions of the universe and write about
        the latest advancements in fields of astrophysics and space
        exploration. Check out Astro Picture of the Week to catch a glimpse of
        the extraordinary beauty of deep space that envelopes our world. And
        explore the astounding history of space exploration ranging from the
        Apollo Missions to the Space Shuttle Program and beyond. Unveiling the
        Blue is a place representing everything Space and Astronomy has to
        offer. So have fun, learn something new and be sure to spread the
        awareness about astronomy wherever you can.
    </p>
</article>

<article id="About Me">
    <h1 class="aboutMe">About Me</h1>

    <p class="aboutMe-para">
        My name is Lalith Uriti. I am a high school student with a love for
        Aerospace and Astronomy. My passion is to learn more about the
        beginnings of our Universe and share my perspective and knowledge
        while I'm at it. I am also passionate about engineering; I love robotics
        and designing with Solidworks. I run Cross Country and swim for my
        high school swim team. In my spare time you’ll find me volunteering,
        reading, cooking, running, listening to music, and coding. I
        am always accessible via email for questions and enjoy your time here
        unveiling the blue.
        Clear Skies!
    </p>
    <img class="bois" src="{% static 'css/images/Bois.jpg' %}" alt="" />
</article>
</div>

{% endblock %}