{% extends 'BLuePages/base.html' %}
{% load static %}

{% block content %}

<!--<div class="home-image">
    <div class="home-images-wrapper">
        <img class="home-image-wrapper"src="images/m87.jpg" alt="Image taken of blackhole at the center of galaxy M87">
        <div class="home-image-wrapper"></div>
    </div>
</div>

<article id="Purpose">
    <h1 class="purpose">Purpose</h1>

    <p class="purpose-para">
        The purpose of this website is to be a welcoming place for everyone and anyone
        with a newfound love for Aerospace and Astronomy. Read my blog where I
        attempt to answer the grand questions of the universe and write about
        the latest advancements in fields of astrophysics and space
        exploration. Check out Astro Picture of the Week to catch a glimpse of
        the extraordinary beauty of deep space that envelopes our world. And
        explore the astounding history of space exploration ranging from the
        Apollo Missions to the Space Shuttle Program and beyond. Unveiling the
        Blue is a place representing everything Space and Astronomy has to
        offer. So have fun, learn something new and be sure to spread the
        awareness about astronomy wherever you can.
    </p>

</article>

<article id="About Me">
    <h1 class="aboutMe">About Me</h1>

    <p class="aboutMe-para">
        My name is Lalith Uriti. I am a high school student with a love for
        Aerospace and Astronomy. My passion is to learn more about the
        beginnings of our Universe and share my perspective and knowledge
        while I'm at it. I am also passionate about engineering; I love robotics
        and designing with Solidworks. I run Cross Country and swim for my
        high school swim team. In my spare time you’ll find me volunteering,
        reading, cooking, running, listening to music, and coding. I
        am always accessible via email for questions and enjoy your time here
        unveiling the blue.
        Clear Skies!
    </p>
    <img class="bois" src="{% static 'css/images/Bois.jpg' %}" alt="" />
</article>
</div>-->

{% for card in cards %}


<article>
    <div class="card_wrapper" id="{{ forloop.counter }}">

        {% if next_launch_flight_number_css == forloop.counter0 %}
        <div class="next_launch_thingy" style="display: block;">Next Launch</div>
        {% else %}
        <div style="display: none;">Next Launch</div>
        {% endif %}

        <div class="card">
            <div class="right_side">
                <div class="patch">
                    <img src="{{ card.1 }}" alt="">
                </div>
                <div class="rocket_div">
                    <div class="rocket"></div>
                </div>
            </div>

            <div class="left_side">
                <div class="top">
                    <div class="mission_name">
                        {{ card.2 }}
                    </div>
                    <div class="flight_number">
                        {{ card.0 }}
                    </div>
                </div>
                <div class="details">
                    {{ card.3 }}
                </div>
                <div class="bottom">
                    <div class="bottom_title">
                        Launch Details
                        <div class="bottom_detail1">
                            <div class="yourlaunchtime">Your Launch Time</div>
                            <div class="datedate">3/7/20 10:20 AM</div>
                        </div>

                        {% if next_launch_flight_number_css == forloop.counter0 %}
                        <div class="bottom_detail1">
                            <div id="demo" style="display: block;"></div>

                        </div>
                        {% else %}

                        {% endif %}

                    </div>

                    <div class="bottom_title">
                        First Stage - Falcon 9

                        <div class="bottom_detail1">
                            <div class="yourlaunchtime">Serial</div>
                            <div class="datedate">B1059</div>
                        </div>

                        <div class="bottom_detail1">
                            <div class="yourlaunchtime">Reused</div>
                            <div class="datedate">
                                <i class="fa fa-leaf fa-flip-horizontal" style="color: limegreen;"></i>

                            </div>
                        </div>

                        <div class="bottom_detail1">
                            <div class="yourlaunchtime">Times Flown</div>
                            <div class="datedate">1</div>
                        </div>

                        <div class="bottom_detail1">
                            <div class="yourlaunchtime">Landed</div>
                            <div class="datedate">
                                <i class="fa fa-check-circle"></i>
                            </div>
                        </div>

                        <div class="bottom_detail1">
                            <div class="yourlaunchtime">Landing Type</div>
                            <div class="datedate">RTLS</div>
                        </div>
                    </div>

                    <div class="bottom_title">
                        2nd Stage - Dragon 1.1

                        <div class="bottom_detail1">
                            <div class="yourlaunchtime">Customer</div>
                            <div class="datedate">NASA (CRS)</div>
                        </div>

                        <div class="bottom_detail1">
                            <div class="yourlaunchtime">Payload ID</div>
                            <div class="datedate">CRS-20</div>
                        </div>

                        <div class="bottom_detail1">
                            <div class="yourlaunchtime">Mass</div>
                            <div class="datedate">1977.0kg</div>
                        </div>

                        <div class="bottom_detail1">
                            <div class="yourlaunchtime">Orbit</div>
                            <div class="datedate">ISS</div>
                        </div>
                    </div>

                    <div class="bottom_title">
                        Fairings

                        <div class="bottom_detail1">
                            <div class="yourlaunchtime">Reused</div>
                            <div class="datedate">
                                <i class="fa fa-question-circle"></i>
                            </div>
                        </div>

                        <div class="bottom_detail1">
                            <div class="yourlaunchtime">Recovery Attempt</div>
                            <div class="datedate">
                                <i class="fa fa-question-circle"></i>
                            </div>
                        </div>

                        <div class="bottom_detail1">
                            <div class="yourlaunchtime">Recovered</div>
                            <div class="datedate">
                                <i class="fa fa-question-circle"></i>
                            </div>
                        </div>

                        <div class="bottom_detail1">
                            <div class="yourlaunchtime">Recovery Ship</div>
                            <div class="datedate">TBD</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="launch_site">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d112207.52954834313!2d-80.65365041866312!3d28.495043358700844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e0a3f2a5fb9a45%3A0x87ef91ee250f8fde!2sCape%20Canaveral!5e0!3m2!1sen!2sin!4v1609236092681!5m2!1sen!2sin"
            allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>-->

        </div>

        {% if next_launch_flight_number_css == forloop.counter0 %}
        <div class="past_launch_wrapper">
            <div class="past_launch_thingy" style="display: block;">Past Launches </div>
            <div class="nlfn"> {{ actual_NLFN }}</div>
        </div>
        {% else %}
        <div style="display: none;">Past Launch</div>
        {% endif %}

    </div>
</article>

{% endfor %}

<script type="text/javascript">

    // Set the date we're counting down to
    var countDownDate = new Date("Jan 10, 2021 15:37:25").getTime();

    // Update the count down every 1 second
    var x = setInterval(function () {

        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the element with id="demo"
        document.getElementById("demo").innerHTML = days + "d " + hours + "h "
            + minutes + "m " + seconds + "s ";

        // If the count down is finished, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "EXPIRED";
        }
    }, 1000);

    function cardScroll() {
        var card_id = document.getElementById("{{ next_launch_flight_number }}");
        card_id.scrollIntoView({
            behavior: "smooth",
            block: "center",
            inline: "nearest"
        });
    };

    cardScroll();
</script>


{% endblock %}