{% extends 'BLuePages/base.html' %}
{% load static %}

{% block content %}

<div class="home-image">
    <div class="home-images-wrapper">
        <!--<img class="home-image-wrapper"src="images/m87.jpg" alt="Image taken of blackhole at the center of galaxy M87">-->
        <div class="home-image-wrapper-Blog"></div>
    </div>
</div>

<div>
    <h1 class="aBriefHistoryOfAstronomy"><span>A Basic Introdution to</span><span> Interplanetary Flight</span>
    </h1>
</div>

<div class="title-center">
    <h2 class="article-title-center">Newton</h2>
</div>

<article>
    <div class="article-title">Newton</div>
    <!--{% autoescape off %}
    {{ solarsys_div }}
    {% endautoescape %}-->
</article>

<div class="title-center">
    <h2 class="article-title-center">Interplanetary Flight</h2>
</div>

<article>
    <div class="article-title">SpaceX Roadster Roadtrip</div>
    <!--{% autoescape off %}
    {{ frame_div }}
    {% endautoescape %}-->
</article>

{% endblock %}