{% extends 'BLuePages/base.html' %}
{% load static %}

{% block content %}

<div class="home-image">
  <div class="home-images-wrapper">
    <!--<img class="home-image-wrapper"src="images/m87.jpg" alt="Image taken of blackhole at the center of galaxy M87">-->
    <div class="home-image-wrapper-Astro"></div>
  </div>
</div>

<!--<div>
  <h1 class="aBriefHistoryOfAstronomy"><span>Interplanetary Flight Simulator</h1>
</div>

<article>
  <div class="dropdownExplanationDiv">
    <h1 class="dropdownExplanation">Welcome to Mission Control. Here you can explore the orbital mechanics at work when
      designing an interplanetary expedition. This is a very simplistic analysis and is purposed with providing a basic
      understanding and visualization of the orbital dynamics of launching a spacecraft. Have fun and launch your own
      expeditions to render your mission's trajectories to see if you successfully made it to Mars! To Mars and
      Beyond!! {{ Ve_input }}</h1>
  </div>
</article>

{% if launch_date %}
<div>
  <h2 class="whereItAllBegan">{{ origin_planet }} to {{ destination_planet }} <br>
    Launch Date: {{ launch_date }} <br>
    Landing Date: {{ arrival_date }} </h2>
</div>

<div class="article-title" style="margin:10px; text-align: center;">{{ mission_name }} - Launch Positions</div>
<div class="plotly-grid">
  {% autoescape off %}
  {{ Origin2dL_div }}
  {{ Destination2dL_div }}
  {{ Frame2dL_div }}
  {{ Frame3dL_div }}
  {% endautoescape %}
</div>

<div class="article-title" style="margin:10px; text-align: center;">{{ mission_name }} - Arrival Positions</div>
<div class="plotly-grid">
  {% autoescape off %}
  {{ Origin2dA_div }}
  {{ Destination2dA_div }}
  {{ Frame2dA_div }}
  {{ Frame3dA_div }}
  {% endautoescape %}
</div>

<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>

<div class="article-title" style="margin:10px; text-align: center;">{{ mission_name }} - Flight Path</div>
<div class="plotly-grid">
  {% autoescape off %}
  {{ flight_path2d_div }}
  {{ flight_path_div }}
  {% endautoescape %}
</div>

<article>
  <form action="{%url 'simulator' %}" method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col-25">
        <h1 class="article-title">Mission Name</h1>
      </div>

      <div class="col-75">
        <input type="text" name='mission_name' placeholder="Ex. Mars Pathfinder" list="missions">
        <datalist id="missions">
          <option value="Mars Pathfinder">
          <option value="Mars Polar Lander">
          <option value="Spirit">
          <option value="Opportunity">
          <option value="Phoenix">
          <option value="Curiosity">
          <option value="Perseverance">
        </datalist>
      </div>
    </div>

    <div class="col-26">
      <h1 class="article-title">Origin</h1>
    </div>

    <div class="switch-container">
      <input type="radio" id="mercury_rs_origin" name="origin" value="Mercury" required>
      <label for="mercury_rs_origin">Mercury</label>

      <input type="radio" id="venus_rs_origin" name="origin" value="Venus">
      <label for="venus_rs_origin">Venus</label>

      <input type="radio" id="earth_rs_origin" name="origin" value="Earth">
      <label for="earth_rs_origin">Earth</label>

      <input type="radio" id="mars_rs_origin" name="origin" value="Mars">
      <label for="mars_rs_origin">Mars</label>
    </div>

    <div class="col-25">
      <h1 class="article-title">Destination</h1>
    </div>

    <div class="switch-container">
      <input type="radio" id="mercury_rs_destination" name="destination" value="Mercury" required>
      <label for="mercury_rs_destination">Mercury</label>

      <input type="radio" id="venus_rs_destination" name="destination" value="Venus">
      <label for="venus_rs_destination">Venus</label>

      <input type="radio" id="earth_rs_destination" name="destination" value="Earth">
      <label for="earth_rs_destination">Earth</label>

      <input type="radio" id="mars_rs_destination" name="destination" value="Mars">
      <label for="mars_rs_destination">Mars</label>
    </div>

    <div class="row">
      <div class="col-25">
        <h1 class="article-title">Launch Date</h1>
      </div>

      <div class="col-75">
        <input type="text" name='launch_date' placeholder="Year-Month-Day Time UTC" list="launches">
        <datalist id="launches">
          <option value="1996-12-4 06:58:07">
          <option value="1999-1-3 20:21:10">
          <option value="2003-6-10 17:58:00">
          <option value="2003-7-7 03:18:00">
          <option value="2007-8-4 09:26:00">
          <option value="2011-11-26 15:02:00">
          <option value="2020-7-30 11:50:00">
        </datalist>
      </div>
    </div>

    <div class="col-121">
      <button type="launch" class="button" style="margin-bottom: 0px;">Render Trajectory</button>
    </div>
    <h2 class="year" style="margin-top: 0px; margin-bottom: 10px;">{{ error_message }}</h2>
  </form>
</article>

{% else %}

<h2 class="whereItAllBegan">Launch Your Own Expeditions</h2>

<article>
  <form action="{%url 'simulator' %}" method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col-25">
        <h1 class="article-title">Mission Name</h1>
      </div>

      <div class="col-75">
        <input type="text" name='mission_name' placeholder="Ex. Mars Pathfinder" list="missions">
        <datalist id="missions">
          <option value="Mars Pathfinder">
          <option value="Mars Polar Lander">
          <option value="Spirit">
          <option value="Opportunity">
          <option value="Phoenix">
          <option value="Curiosity">
          <option value="Perseverance">
        </datalist>
      </div>
    </div>

    <div class="col-26">
      <h1 class="article-title">Origin</h1>
    </div>

    <div class="switch-container">
      <input type="radio" id="mercury_rs_origin" name="origin" value="Mercury" required>
      <label for="mercury_rs_origin">Mercury</label>

      <input type="radio" id="venus_rs_origin" name="origin" value="Venus">
      <label for="venus_rs_origin">Venus</label>

      <input type="radio" id="earth_rs_origin" name="origin" value="Earth">
      <label for="earth_rs_origin">Earth</label>

      <input type="radio" id="mars_rs_origin" name="origin" value="Mars">
      <label for="mars_rs_origin">Mars</label>
    </div>

    <div class="col-25">
      <h1 class="article-title">Destination</h1>
    </div>

    <div class="switch-container">
      <input type="radio" id="mercury_rs_destination" name="destination" value="Mercury" required>
      <label for="mercury_rs_destination">Mercury</label>

      <input type="radio" id="venus_rs_destination" name="destination" value="Venus">
      <label for="venus_rs_destination">Venus</label>

      <input type="radio" id="earth_rs_destination" name="destination" value="Earth">
      <label for="earth_rs_destination">Earth</label>

      <input type="radio" id="mars_rs_destination" name="destination" value="Mars">
      <label for="mars_rs_destination">Mars</label>
    </div>

    <div class="row">
      <div class="col-25">
        <h1 class="article-title">Launch Date</h1>
      </div>

      <div class="col-75">
        <input type="text" name='launch_date' placeholder="Year-Month-Day Time UTC" list="launches">
        <datalist id="launches">
          <option value="1996-12-4 06:58:07">
          <option value="1999-1-3 20:21:10">
          <option value="2003-6-10 17:58:00">
          <option value="2003-7-7 03:18:00">
          <option value="2007-8-4 09:26:00">
          <option value="2011-11-26 15:02:00">
          <option value="2020-7-30 11:50:00">
        </datalist>
      </div>
    </div>

    <div class="col-121">
      <button type="launch" class="button" style="margin-bottom: 0px;">Render Trajectory</button>
    </div>
    <h2 class="year" style="margin-top: 0px; margin-bottom: 10px;">{{ error_message }}</h2>
  </form>
</article>
-->
<div>
  <h1 class="aBriefHistoryOfSpaceExploration">Blog</h1>
</div>

<!--<article>
  <div class="dropdownExplanationDiv">
    <h1 class="dropdownExplanation">For the purposes of creating a clean and elegant timeline, I added
      dropdowns.
      Click on the dropdowns to discover more information regarding the given Article/Mission and to see other
      significant events that took place at that time.</h1>
  </div>
</article>

<div>
  <h2 class="whereItAllBegan">Recent</h2>
</div>-->

<div class="line"></div>

<article>
  <h2 class="article-title">Ingenuity's Madiem Flight</h2>
  <h3 class="year">4/19/21</h3>

  <p class="article-para">
    The Cold War was a prolonged period of geopolitical and economic tension between the Capitalist United
    States and the former Communist Soviet Union that lasted from 1947 to 1991 due to conflicting political and
    economic ideals. George Keenan’s 1946 “The Long Telegram,” explaining how the Soviets and

    the U.S. will never reach a lasting agreement, left America to take action with containment, a defense
    strategy that gave way to unprecedented scientific and technological innovation that spanned the next four
    decades. The goal of containment was to restrict communist expansion and to keep it

    within its already pre-existing boundaries. This caused incredible tension between the former allies because
    it encouraged each to one-up the other with greater military arsenals, defense forces, and atomic bombs,
    known today as the Arms Race. On 4th Oct 1957, a Soviet R-7 Intercontinental
    Ballistic Missile launched Sputnik 1, the world’s first artificial earth satellite into a low elliptical
    earth orbit.
  </p>

  <img class="article-img r-7" src="{% static 'css/images/r-7.jpg' %}" alt="R7 ICBM">
  <figcaption class="imgCaptions"><a href="https://www.britannica.com/" target="_blank">R-7 ICBM,
      Britannica.com</a></figcaption>

  <p class="article-para">
    The launch of Sputnik 1 came as an unpleasant surprise to many Americans because space was perceived as the
    next palpable chapter in the rich American tale of exploration and with the Soviets having more advanced
    technology and greater scientific infrastructure, it was critical for the U.S.

    not to fall too far behind. With their escalating rivalry and America's fear of being overtaken, the Cold
    War was extended into space and resulted in the Space Race. The Space Race was considered an important part
    of the Cold War because the rivalry between the two countries to develop

    aerospace capabilities showed the world which country had the best scientific, technological, and economic
    support.
  </p>

  <img class="article-img sputnik1" src="{% static 'css/images/sputnik1.jpg' %}" alt="Sputnik 1">
  <figcaption class="imgCaptions"><a href="https://airandspace.si.edu" target="_blank">Sputnik 1,
      Airandspace.si.edu</a></figcaption>

  <p class="article-para">
    This kicked off and accelerated vast developmental efforts along with tremendous financial funding on both
    sides to launch artificial satellites and uncrewed space probes into low earth orbit and beyond, and to
    ultimately be the first ones to successfully land humans on the moon.

    The Space Race is where the realm of modern space exploration, as we know it, all began.
  </p>
</article>

{% endif %}

{% endblock %}

<!--<p class="article-para">
  Mars Pathfinder Launch: 1996-12-4 06:58:07, Arrival: 1997-7-4 16:56:55<br>
  December 4, 1996 06:58:07 UTC<br>
  July 4, 1997 16:56:55 UTC
  <br>
  Mars Polar Lander Launch: 1999-1-3 20:21:10, Arrival: 1999-12-3 20:15:00<br>
  January 3, 1999 20:21:10UTC<br>
  December 3, 1999 20:15:00 UTC
  <br>
  Spirit Launch: 2003-6-10 17:58:00, Arrival: 2004-1-4 04:35:00<br>
  June 10, 2003 17:58 UTC<br>
  January 4, 2004 04:35 UTC
  <br>
  Opportunity Launch: 2003-7-7 03:18:00, Arrival: 2004-1-25 04:54:00<br>
  July 07, 2003 03:18 UTC<br>
  January 25, 2004 04:54 UTC
  <br>
  Phoenix Launch: 2007-8-4 09:26:00, Arrival: 2008-5-25 23:53:00<br>
  August 04, 2007 09:26:00 UTC<br>
  May 25, 2008 23:53:00 UTC
  <br>
  Curiosity Launch: 2011-11-26 15:02:00, Arrival: 2012-8-6 05:17:00<br>
  November 26, 2011 15:02:00 UTC<br>
  August 6, 2012 05:17:00 UTC
  <br>
  Perseverance Launch: 2020-7-30 11:50:00, Arrival: 2021-2-18 8:00:00<br>
  July 30, 2020 11:50:00 UTC<br>
  Feb 18, 2021 8:00:00 UTC
</p>-->