{% extends 'BLuePages/base.html' %}
{% load static %}

{% block content %}

<div class="home-image">
  <div class="home-images-wrapper">
    <!--<img class="home-image-wrapper"src="images/m87.jpg" alt="Image taken of blackhole at the center of galaxy M87">-->
    <div class="home-image-wrapper-Astro"></div>
  </div>
</div>

<div>
  <h1 class="aBriefHistoryOfAstronomy"><span>Mission Control</h1>
</div>

<article>
  <div class="dropdownExplanationDiv">
    <h1 class="dropdownExplanation">Welcome to Mission Control. Here you can explore the orbital mechanics at work when
      designing an interplanetary expedition. This is a very simplistic analysis and is purposed with providing a basic
      understanding and visualization of the orbital dynamics of launching a spacecraft. Have fun and launch your own
      expeditions to render your mission's trajectories to see if you successfully made it to Mars! To Mars and
      Beyond!! {{ Ve_input }}</h1>
  </div>
</article>

{% if launch_date %}
<div>
  <h2 class="whereItAllBegan">{{ launch_date }} and {{ arrival_date }} </h2>
</div>

<div class="article-title" style="margin:10px; text-align: center;">{{ mission_name }} - Launch Positions</div>
<div class="plotly-grid">
  {% autoescape off %}
  {{ Earth2dL_div }}
  {{ Mars2dL_div }}
  {{ Frame2dL_div }}
  {{ Frame3dL_div }}
  {% endautoescape %}
</div>

<div class="article-title" style="margin:10px; text-align: center;">{{ mission_name }} - Arrival Positions</div>
<div class="plotly-grid">
  {% autoescape off %}
  {{ Earth2dA_div }}
  {{ Mars2dA_div }}
  {{ Frame2dA_div }}
  {{ Frame3dA_div }}
  {% endautoescape %}
</div>

<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>

<div class="article-title" style="margin:10px; text-align: center;">{{ mission_name }} - Flight Path</div>
<div class="plotly-grid">
  {% autoescape off %}
  {{ final_traj_div }}
  {{ final_traj2d_div }}
  {{ fig_div }}
  {% endautoescape %}
</div>

<article>
  <p class="article-para">
    Mars Pathfinder Launch: 1996-12-4 06:58:07, Arrival: 1997-7-4 16:56:55<br>
    December 4, 1996 06:58:07 UTC<br>
    July 4, 1997 16:56:55 UTC
    <br>
    Mars Polar Lander Launch: 1999-1-3 20:21:10, Arrival: 1999-12-3 20:15:00<br>
    January 3, 1999 20:21:10UTC<br>
    December 3, 1999 20:15:00 UTC
    <br>
    Spirit Launch: 2003-6-10 17:58:00, Arrival: 2004-1-4 04:35:00<br>
    June 10, 2003 17:58 UTC<br>
    January 4, 2004 04:35 UTC
    <br>
    Opportunity Launch: 2003-7-7 03:18:00, Arrival: 2004-1-25 04:54:00<br>
    July 07, 2003 03:18 UTC<br>
    January 25, 2004 04:54 UTC
    <br>
    Phoenix Launch: 2007-8-4 09:26:00, Arrival: 2008-5-25 23:53:00<br>
    August 04, 2007 09:26:00 UTC<br>
    May 25, 2008 23:53:00 UTC
    <br>
    Curiosity Launch: 2011-11-26 15:02:00, Arrival: 2012-8-6 05:17:00<br>
    November 26, 2011 15:02:00 UTC<br>
    August 6, 2012 05:17:00 UTC
    <br>
    Perseverance Launch: 2020-7-30 11:50:00, Arrival: 2021-2-18 8:00:00<br>
    July 30, 2020 11:50:00 UTC<br>
    Feb 18, 2021 8:00:00 UTC
  </p>
  <form action="{%url 'simulator' %}" method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col-25">
        <h1 class="article-title">Mission Name</h1>
      </div>

      <div class="col-75">
        <input type="text" name='mission_name' placeholder="Ex. Mars Pathfinder" list="missions">
        <datalist id="missions">
          <option value="Mars Pathfinder">
          <option value="Mars Polar Lander">
          <option value="Spirit">
          <option value="Opportunity">
          <option value="Phoenix">
          <option value="Curiosity">
          <option value="Perseverance">
        </datalist>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <h1 class="article-title">Launch Date</h1>
      </div>

      <div class="col-75">
        <input type="text" name='launch_date' placeholder="Year-Month-Day Time UTC" list="launches">
        <datalist id="launches">
          <option value="1996-12-4 06:58:07">
          <option value="1999-1-3 20:21:10">
          <option value="2003-6-10 17:58:00">
          <option value="2003-7-7 03:18:00">
          <option value="2007-8-4 09:26:00">
          <option value="2011-11-26 15:02:00">
          <option value="2020-7-30 11:50:00">
        </datalist>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <h1 class="article-title">Arrival Date</h1>
      </div>

      <div class="col-75">
        <input type="text" name='arrival_date' placeholder="Year-Month-Day Time UTC" list="arrivals">
        <datalist id="arrivals">
          <option value="1997-7-4 16:56:55">
          <option value="1999-12-3 20:15:00">
          <option value="2004-1-4 04:35:00">
          <option value="2004-1-25 04:54:00">
          <option value="2008-5-25 23:53:00">
          <option value="2012-8-6 05:17:00">
          <option value="2021-2-18 8:00:00">
        </datalist>
      </div>
    </div>

    <div class="slidecontainer">
      <input type="range" name="Ve_input" min="100" max="5459" value="4459" class="slider" id="Ve">
      <p class="year">Exhaust Velocity:
        <span class="year" id="VeValue">4459</span>
        m/s
      </p>
    </div>

    <div class="slidecontainer">
      <input type="range" name="thrust_input" min="186500" max="2000000" value="1865000" class="slider" id="thrust">
      <p class="year">Thrust:
        <span class="year" id="thrustValue">1865000</span>
        n
      </p>
    </div>

    <div class="slidecontainer">
      <input type="range" name="massI_input" min="100000" max="1900000" value="1695455" class="slider" id="mass">
      <p class="year">Mass:
        <span class="year" id="massValue">1695455</span>
        kg
      </p>
    </div>

    <p class="year">Delta V:
      <span class="year" id="deltaV">133.99320064640062</span>
      m/s
    </p>

    <div class="col-121">
      <button type="launch" class="button">Render Trajectory</button>
    </div>
  </form>
</article>

<h2 class="whereItAllBegan">Planning a Mission to Mars</h2>

<article>
  <div class="article-title">Launch Window</div>
  {% autoescape off %}
  {{ solarsys_div }}
  {{ frame_div }}
  {% endautoescape %}
  <!--<img class="article-img r-7" src="{% static 'css/images/LambertsProblemVectorVis.jpeg' %}" alt="R7 ICBM">
  <figcaption class="imgCaptions">Relative Position Vectors 2d Visualization</figcaption>-->
</article>

{% else %}

<h2 class="whereItAllBegan">Planning an Interplanetary Expedition to Mars</h2>

<article>
  <div class="article-title">A Brief Introduction to Orbital Mechanics</div>
  {% autoescape off %}
  <!--{{ solarsys_div }}
  {{ frame_div }}-->
  {% endautoescape %}
  <!--<img class="article-img r-7" src="{% static 'css/images/LambertsProblemVectorVis.jpeg' %}" alt="R7 ICBM">
  <figcaption class="imgCaptions">Position Vectors(r0 - Initial, r1 - Secondary)</figcaption>-->
</article>


<article>
  <div class="article-title">Launch Window</div>
  {% autoescape off %}
  <!--{{ solarsys_div }}
  {{ frame_div }}-->
  {% endautoescape %}
  <!--<img class="article-img r-7" src="{% static 'css/images/LambertsProblemVectorVis.jpeg' %}" alt="R7 ICBM">
  <figcaption class="imgCaptions">Position Vectors(r0 - Initial, r1 - Secondary)</figcaption>-->
</article>

<article>
  <div class="article-title">Hohman Transfer Orbits</div>
  {% autoescape off %}
  <!--{{ solarsys_div }}
  {{ frame_div }}-->
  {% endautoescape %}
  <!--<img class="article-img r-7" src="{% static 'css/images/LambertsProblemVectorVis.jpeg' %}" alt="R7 ICBM">
  <figcaption class="imgCaptions">Position Vectors(r0 - Initial, r1 - Secondary)</figcaption>-->
</article>

<article>
  <div class="article-title">Lambert's Problem</div>
  {% autoescape off %}
  <!--{{ solarsys_div }}
  {{ frame_div }}-->
  {% endautoescape %}
  <!--<img class="article-img r-7" src="{% static 'css/images/LambertsProblemVectorVis.jpeg' %}" alt="R7 ICBM">
  <figcaption class="imgCaptions">Position Vectors(r0 - Initial, r1 - Secondary)</figcaption>-->
</article>

<h2 class="whereItAllBegan">Launch Your Own Expeditions</h2>

<article>
  <div class="article-title" style="margin:10px; text-align: center;">A Few Examples of many previous Mars Exploration
    Missions that You can try out too!</div>
  <p class="article-para">
    Mars Pathfinder Launch: 1996-12-4 06:58:07, Arrival: 1997-7-4 16:56:55<br>
    December 4, 1996 06:58:07 UTC<br>
    July 4, 1997 16:56:55 UTC
    <br>
    Mars Polar Lander Launch: 1999-1-3 20:21:10, Arrival: 1999-12-3 20:15:00<br>
    January 3, 1999 20:21:10UTC<br>
    December 3, 1999 20:15:00 UTC
    <br>
    Spirit Launch: 2003-6-10 17:58:00, Arrival: 2004-1-4 04:35:00<br>
    June 10, 2003 17:58 UTC<br>
    January 4, 2004 04:35 UTC
    <br>
    Opportunity Launch: 2003-7-7 03:18:00, Arrival: 2004-1-25 04:54:00<br>
    July 07, 2003 03:18 UTC<br>
    January 25, 2004 04:54 UTC
    <br>
    Phoenix Launch: 2007-8-4 09:26:00, Arrival: 2008-5-25 23:53:00<br>
    August 04, 2007 09:26:00 UTC<br>
    May 25, 2008 23:53:00 UTC
    <br>
    Curiosity Launch: 2011-11-26 15:02:00, Arrival: 2012-8-6 05:17:00<br>
    November 26, 2011 15:02:00 UTC<br>
    August 6, 2012 05:17:00 UTC
    <br>
    Perseverance Launch: 2020-7-30 11:50:00, Arrival: 2021-2-18 8:00:00<br>
    July 30, 2020 11:50:00 UTC<br>
    Feb 18, 2021 8:00:00 UTC
  </p>
  <form action="{%url 'simulator' %}" method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col-25">
        <h1 class="article-title">Mission Name</h1>
      </div>

      <div class="col-75">
        <input type="text" name='mission_name' placeholder="Ex. Mars Pathfinder" list="missions">
        <datalist id="missions">
          <option value="Mars Pathfinder">
          <option value="Mars Polar Lander">
          <option value="Spirit">
          <option value="Opportunity">
          <option value="Phoenix">
          <option value="Curiosity">
          <option value="Perseverance">
        </datalist>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <h1 class="article-title">Launch Date</h1>
      </div>

      <div class="col-75">
        <input type="text" name='launch_date' placeholder="Year-Month-Day Time UTC" list="launches">
        <datalist id="launches">
          <option value="1996-12-4 06:58:07">
          <option value="1999-1-3 20:21:10">
          <option value="2003-6-10 17:58:00">
          <option value="2003-7-7 03:18:00">
          <option value="2007-8-4 09:26:00">
          <option value="2011-11-26 15:02:00">
          <option value="2020-7-30 11:50:00">
        </datalist>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <h1 class="article-title">Arrival Date</h1>
      </div>

      <div class="col-75">
        <input type="text" name='arrival_date' placeholder="Year-Month-Day Time UTC" list="arrivals">
        <datalist id="arrivals">
          <option value="1997-7-4 16:56:55">
          <option value="1999-12-3 20:15:00">
          <option value="2004-1-4 04:35:00">
          <option value="2004-1-25 04:54:00">
          <option value="2008-5-25 23:53:00">
          <option value="2012-8-6 05:17:00">
          <option value="2021-2-18 8:00:00">
        </datalist>
      </div>
    </div>

    <!--Aligned with Space Shuttle Main Engine Rs-25-->
    <div class="slidecontainer">
      <input type="range" name="Ve_input" min="100" max="5459" value="4459" class="slider" id="Ve">
      <p class="year">Exhaust Velocity:
        <span class="year" id="VeValue">4459</span>
        m/s
      </p>
    </div>

    <div class="slidecontainer">
      <input type="range" name="thrust_input" min="186500" max="2000000" value="1865000" class="slider" id="thrust">
      <p class="year">Thrust:
        <span class="year" id="thrustValue">1865000</span>
        n
      </p>
    </div>

    <div class="slidecontainer">
      <input type="range" name="massI_input" min="100000" max="1900000" value="1695455" class="slider" id="mass">
      <p class="year">Mass:
        <span class="year" id="massValue">1695455</span>
        kg
      </p>
    </div>

    <p class="year">Delta V:
      <span class="year" id="deltaV">133.99320064640062</span>
      m/s
    </p>

    <div class="col-121">
      <button type="launch" class="button" style="margin-bottom: 0px;">Render Trajectory</button>
    </div>
    <h2 class="year" style="margin-top: 0px; margin-bottom: 10px;">{{ error_message }}</h2>
  </form>
</article>


{% endif %}

{% endblock %}