{% extends 'BLuePages/base.html' %}
{% load static %}

{% block content %}

<div class="home-image">
  <div class="home-images-wrapper">
    <!--<img class="home-image-wrapper"src="images/m87.jpg" alt="Image taken of blackhole at the center of galaxy M87">-->
    <div class="home-image-wrapper-Astro"></div>
  </div>
</div>

<div>
  <h1 class="aBriefHistoryOfAstronomy"><span>Mission Control</h1>
</div>

<article>
  <div class="dropdownExplanationDiv">
    <h1 class="dropdownExplanation">Welcome to Mission Control. Here you can explore the orbital mechanics at work when
      designing an interplanetary expedition. This is a very simplistic analysis and is purposed with providing a basic
      understanding and visualization of the orbital dynamics of launching a spacecraft. Have fun and launch your own
      expeditions to visualize your mission's trajectories to see if you successfully made it to Mars! To Mars and
      Beyond!!</h1>
  </div>
</article>

<div>
  {% if launch_date %}
  <h2 class="whereItAllBegan">{{ launch_date }} and {{ arrival_date }} </h2>

  {% else %}
  <h2 class="whereItAllBegan">11111111111111111111111111</h2>

  {% endif %}
</div>

{% if launch_date %}
<article>
  <div class="article-title">Launch Positions</div>
  {% autoescape off %}
  {{ Earth2dL_div }}
  {{ Mars2dL_div }}
  {{ Frame2dL_div }}
  {% endautoescape %}
</article>

<article>
  <div class="article-title">Arrival Positions</div>
  {% autoescape off %}
  {{ Earth2dA_div }}
  {{ Mars2dA_div }}
  {{ Frame2dA_div }}
  {% endautoescape %}
</article>

<article>
  <div class="article-title">Final Trajectory</div>
  {% autoescape off %}
  {{ plotter_div }}
  {% endautoescape %}
</article>
{% endif %}


<h2 class="whereItAllBegan">Planning a Mission to Mars</h2>


<article>
  <div class="article-title">Lambert's Problem</div>
  {% autoescape off %}
  {{ solarsys_div }}
  {{ frame_div }}
  {% endautoescape %}
  <img class="article-img r-7" src="{% static 'css/images/LambertsProblemVectorVis.jpeg' %}" alt="R7 ICBM">
  <figcaption class="imgCaptions">Relative Position Vectors 2d Visualization</figcaption>
</article>

<article>
  <div class="article-title">Design Your Mission</div>
  <form action="{%url 'simulator' %}" method="POST">
    {% csrf_token %}
    <input type="text" name='launch_date'>
    <input type="text" name='arrival_date'>
    <div class="col-12">
      <button type="submit" class="button">Submit</button>
    </div>
  </form>

</article>


{% endblock %}