{% extends 'BLuePages/base.html' %}
{% load static %}

{% block content %}

<div class="home-image">
    <div class="home-images-wrapper">
        <!--<img class="home-image-wrapper"src="images/m87.jpg" alt="Image taken of blackhole at the center of galaxy M87">-->
        <div class="home-image-wrapper-SpaceX">

        </div>
    </div>
</div>

<div>
    <h1 class="aBriefHistoryOfSpaceExploration"><span>A Brief History of </span><span>Space Exploration</span></h1>
</div>

<article>
    <div class="dropdownExplanationDiv">
        <h1 class="dropdownExplanation">For the purposes of creating a clean and elegant timeline, I added
            dropdowns.
            Click on the dropdowns to discover more information regarding the given Article/Mission and to see other
            significant events that took place at that time.</h1>
    </div>
</article>

<div>
    <h2 class="whereItAllBegan">1950s - WHERE IT ALL BEGAN</h2>
</div>

<article>
    <h2 class="article-title">The Cold War in Space</h2>
    <h3 class="year">1947 - 1991</h3>

    <p class="article-para">
        The Cold War was a prolonged period of geopolitical and economic tension between the Capitalist United
        States and the former Communist Soviet Union that lasted from 1947 to 1991 due to conflicting political and
        economic ideals. George Keenan’s 1946 “The Long Telegram,” explaining how the Soviets and

        the U.S. will never reach a lasting agreement, left America to take action with containment, a defense
        strategy that gave way to unprecedented scientific and technological innovation that spanned the next four
        decades. The goal of containment was to restrict communist expansion and to keep it

        within its already pre-existing boundaries. This caused incredible tension between the former allies because
        it encouraged each to one-up the other with greater military arsenals, defense forces, and atomic bombs,
        known today as the Arms Race. On 4th Oct 1957, a Soviet R-7 Intercontinental
        Ballistic Missile launched Sputnik 1, the world’s first artificial earth satellite into a low elliptical
        earth orbit.
    </p>

    <img class="article-img r-7" src="{% static 'css/images/r-7.jpg' %}" alt="R7 ICBM">
    <figcaption class="imgCaptions"><a href="https://www.britannica.com/" target="_blank">R-7 ICBM,
            Britannica.com</a></figcaption>

    <p class="article-para">
        The launch of Sputnik 1 came as an unpleasant surprise to many Americans because space was perceived as the
        next palpable chapter in the rich American tale of exploration and with the Soviets having more advanced
        technology and greater scientific infrastructure, it was critical for the U.S.

        not to fall too far behind. With their escalating rivalry and America's fear of being overtaken, the Cold
        War was extended into space and resulted in the Space Race. The Space Race was considered an important part
        of the Cold War because the rivalry between the two countries to develop

        aerospace capabilities showed the world which country had the best scientific, technological, and economic
        support.
    </p>

    <img class="article-img sputnik1" src="{% static 'css/images/sputnik1.jpg' %}" alt="Sputnik 1">
    <figcaption class="imgCaptions"><a href="https://airandspace.si.edu" target="_blank">Sputnik 1,
            Airandspace.si.edu</a></figcaption>

    <p class="article-para">
        This kicked off and accelerated vast developmental efforts along with tremendous financial funding on both
        sides to launch artificial satellites and uncrewed space probes into low earth orbit and beyond, and to
        ultimately be the first ones to successfully land humans on the moon.

        The Space Race is where the realm of modern space exploration, as we know it, all began.
    </p>
</article>

<article>
    <h1 class="article-title">Sputnik 1</h1>
    <h2 class="year">October 4th, 1957</h2>

    <p class="article-para">

    </p>
</article>

<article>

    <div class="dropdown-info">
        <div class="dropdownburger">
            <div class="dropdownline1"></div>
            <div class="dropdownline2"></div>
        </div>
    </div>

</article>

<div class="dropdown-article">
    <article>
        <h1 class="article-title">The Sputnik Program</h1>
        <h2 class="year">1957-1961</h2>

        <p class="article-para">
            error 404
        </p>

        <img class="article-img" src="images/_______.jpg" alt="___________">
        <figcaption class="imgCaptions"><a href="_________________-" target="_blank">____________________</a>
        </figcaption>
    </article>
</div>

<article>
    <h1 class="article-title">Explorer 6</h1>
    <h2 class="year">August 6th, 1959</h2>

    <p class="article-para">

    </p>
</article>

<article>

    <div class="dropdown-info1">
        <div class="dropdownburger1">
            <div class="dropdownline11"></div>
            <div class="dropdownline21"></div>
        </div>
    </div>

</article>

<div class="dropdown-article1">
    <article>
        <h1 class="article-title">The Explorers Program</h1>
        <h2 class="year"></h2>

        <p class="article-para">
            error 404
        </p>

        <img class="article-img" src="images/___.jpg" alt="____">
        <figcaption class="imgCaptions"><a href="_____" target="_blank">_____________________</a></figcaption>
    </article>
</div>

<article>
    <h1 class="article-title">Luna 2</h1>
    <h2 class="year">September 12th, 1959</h2>
    <p class="article-para">

    </p>
</article>

<article>

    <div class="dropdown-info2">
        <div class="dropdownburger2">
            <div class="dropdownline12"></div>
            <div class="dropdownline22"></div>
        </div>
    </div>

</article>

<div class="dropdown-article2">
    <article>
        <h1 class="article-title">The Luna Program</h1>
        <h2 class="year"></h2>

        <p class="article-para">
            error 404
        </p>

        <img class="article-img" src="images/___.jpg" alt="____">
        <figcaption class="imgCaptions"><a href="_____" target="_blank">_____________________</a></figcaption>
    </article>
</div>


<div>
    <h2 class="theSixties">1960s</h2>
</div>


<article>
    <h1 class="article-title">Vostok 1</h1>
    <h2 class="year">April 12th, 1961</h2>

    <p class="article-para">

    </p>
</article>

<article>

    <div class="dropdown-info3">
        <div class="dropdownburger3">
            <div class="dropdownline13"></div>
            <div class="dropdownline23"></div>
        </div>
    </div>

</article>

<div class="dropdown-article3">
    <article>
        <h1 class="article-title">The Vostok Program</h1>
        <h2 class="year"></h2>

        <p class="article-para">
            error 404
        </p>

        <img class="article-img" src="images/___.jpg" alt="____">
        <figcaption class="imgCaptions"><a href="_____" target="_blank">_____________________</a></figcaption>
    </article>
</div>


<article>
    <h1 class="article-title">Mercury-Redstone 3</h1>
    <h2 class="year">May 5th, 1961</h2>

    <p class="article-para">

    </p>
</article>

<article>

    <div class="dropdown-info4">
        <div class="dropdownburger4">
            <div class="dropdownline14"></div>
            <div class="dropdownline24"></div>
        </div>
    </div>

</article>

<div class="dropdown-article4">
    <article>
        <h1 class="article-title">Project Mercury</h1>
        <h2 class="year"></h2>

        <p class="article-para">
            error 404
        </p>

        <img class="article-img" src="images/___.jpg" alt="____">
        <figcaption class="imgCaptions"><a href="_____" target="_blank">_____________________</a></figcaption>
    </article>
</div>


<article>
    <h1 class="article-title">Voskhod 2</h1>
    <h2 class="year">March 18th, 1965</h2>

    <p class="article-para">

    </p>
</article>

<article>

    <div class="dropdown-info5">
        <div class="dropdownburger5">
            <div class="dropdownline15"></div>
            <div class="dropdownline25"></div>
        </div>
    </div>

</article>

<div class="dropdown-article5">
    <article>
        <h1 class="article-title">The Voskhod Program</h1>
        <h2 class="year"></h2>

        <p class="article-para">
            error 404
        </p>

        <img class="article-img" src="images/___.jpg" alt="____">
        <figcaption class="imgCaptions"><a href="_____" target="_blank">_____________________</a></figcaption>
    </article>
</div>


<article>
    <h1 class="article-title">Gemini 8</h1>
    <h2 class="year">March 16th, 1966</h2>

    <p class="article-para">

    </p>
</article>

<article>

    <div class="dropdown-info6">
        <div class="dropdownburger6">
            <div class="dropdownline16"></div>
            <div class="dropdownline26"></div>
        </div>
    </div>

</article>

<div class="dropdown-article6">
    <article>
        <h1 class="article-title">Project Gemini</h1>
        <h2 class="year"></h2>

        <p class="article-para">
            error 404
        </p>

        <img class="article-img" src="images/___.jpg" alt="____">
        <figcaption class="imgCaptions"><a href="_____" target="_blank">_____________________</a></figcaption>
    </article>
</div>

<article>
    <h1 class="article-title">Apollo 11</h1>
    <h2 class="year">July 16th, 1969</h2>

    <p class="article-para">

    </p>
</article>

<article>

    <div class="dropdown-info7">
        <div class="dropdownburger7">
            <div class="dropdownline17"></div>
            <div class="dropdownline27"></div>
        </div>
    </div>

</article>

<div class="dropdown-article7">
    <article>
        <h1 class="article-title">Project Apollo</h1>
        <h2 class="year"></h2>

        <p class="article-para">
            error 404
        </p>

        <img class="article-img" src="images/___.jpg" alt="____">
        <figcaption class="imgCaptions"><a href="_____" target="_blank">_____________________</a></figcaption>
    </article>
</div>


<div>
    <h2 class="theSeventies">1970s</h2>
</div>


<article>
    <h1 class="article-title">Skylab</h1>
    <h2 class="year">May 14th, 1973</h2>

    <p class="article-para">

    </p>
</article>

<article>

    <div class="dropdown-info8">
        <div class="dropdownburger8">
            <div class="dropdownline18"></div>
            <div class="dropdownline28"></div>
        </div>
    </div>

</article>

<div class="dropdown-article8">
    <article>
        <h1 class="article-title">America’s First Space Station</h1>
        <h2 class="year"></h2>

        <p class="article-para">
            error 404
        </p>

        <img class="article-img" src="images/___.jpg" alt="____">
        <figcaption class="imgCaptions"><a href="_____" target="_blank">_____________________</a></figcaption>
    </article>
</div>



<article>
    <h1 class="article-title">Apollo-Soyuz</h1>
    <h2 class="year">Docking Date - July 17th, 1975</h2>

    <p class="article-para">

    </p>
</article>

<article>

    <div class="dropdown-info9">
        <div class="dropdownburger9">
            <div class="dropdownline19"></div>
            <div class="dropdownline29"></div>
        </div>
    </div>

</article>

<div class="dropdown-article9">
    <article>
        <h1 class="article-title">The Start of Multinational Collaboration in Space Exploration</h1>
        <h2 class="year"></h2>

        <p class="article-para">
            error 404
        </p>

        <img class="article-img" src="images/___.jpg" alt="____">
        <figcaption class="imgCaptions"><a href="_____" target="_blank">_____________________</a></figcaption>
    </article>
</div>



<article>
    <h1 class="article-title">Voyager 1</h1>
    <h2 class="year">September 5th, 1977</h2>

    <p class="article-para">

    </p>
</article>


<article>

    <div class="dropdown-info10">
        <div class="dropdownburger10">
            <div class="dropdownline110"></div>
            <div class="dropdownline210"></div>
        </div>
    </div>

</article>

<div class="dropdown-article10">
    <article>
        <h1 class="article-title">The Voyager Program</h1>
        <h2 class="year"></h2>

        <p class="article-para">
            error 404
        </p>

        <img class="article-img" src="images/___.jpg" alt="____">
        <figcaption class="imgCaptions"><a href="_____" target="_blank">_____________________</a></figcaption>
    </article>
</div>


<div>
    <h2 class="theEighties">1980s - 1990s</h2>
</div>

<article>
    <h1 class="article-title">STS - 1</h1>
    <h2 class="year">April 12th, 1981</h2>

    <p class="article-para">

    </p>
</article>



<article>

    <div class="dropdown-info11">
        <div class="dropdownburger11">
            <div class="dropdownline111"></div>
            <div class="dropdownline211"></div>
        </div>
    </div>

</article>

<div class="dropdown-article11">
    <article>
        <h1 class="article-title">The Space Shuttle Program</h1>
        <h2 class="year"></h2>

        <p class="article-para">
            error 404
        </p>

        <img class="article-img" src="images/___.jpg" alt="____">
        <figcaption class="imgCaptions"><a href="_____" target="_blank">_____________________</a></figcaption>
    </article>
</div>


<article>
    <h1 class="article-title">Mir</h1>
    <h2 class="year">February 20th, 1986</h2>

    <p class="article-para">

    </p>
</article>




<article>

    <div class="dropdown-info12">
        <div class="dropdownburger12">
            <div class="dropdownline112"></div>
            <div class="dropdownline212"></div>
        </div>
    </div>

</article>

<div class="dropdown-article12">
    <article>
        <h1 class="article-title">The Shuttle – Mir Program</h1>
        <h2 class="year"></h2>

        <p class="article-para">
            error 404
        </p>

        <img class="article-img" src="images/___.jpg" alt="____">
        <figcaption class="imgCaptions"><a href="_____" target="_blank">_____________________</a></figcaption>
    </article>
</div>

<article>
    <h1 class="article-title">Pathfinder</h1>
    <h2 class="year">December 4th, 1996</h2>

    <p class="article-para">

    </p>
</article>



<article>

    <div class="dropdown-info13">
        <div class="dropdownburger13">
            <div class="dropdownline113"></div>
            <div class="dropdownline213"></div>
        </div>
    </div>

</article>

<div class="dropdown-article13">
    <article>
        <h1 class="article-title">Mars Exploration Rovers</h1>
        <h2 class="year"></h2>

        <p class="article-para">
            error 404
        </p>

        <img class="article-img" src="images/___.jpg" alt="____">
        <figcaption class="imgCaptions"><a href="_____" target="_blank">_____________________</a></figcaption>
    </article>
</div>

<article>
    <h1 class="article-title">ISS</h1>
    <h2 class="year">November 20th, 1998</h2>

    <p class="article-para">

    </p>
</article>



<article>

    <div class="dropdown-info14">
        <div class="dropdownburger14">
            <div class="dropdownline114"></div>
            <div class="dropdownline214"></div>
        </div>
    </div>

</article>

<div class="dropdown-article14">
    <article>
        <h1 class="article-title">The Greatest Multinational Collaborative Project</h1>
        <h2 class="year"></h2>

        <p class="article-para">
            error 404
        </p>

        <img class="article-img" src="images/___.jpg" alt="____">
        <figcaption class="imgCaptions"><a href="_____" target="_blank">_____________________</a></figcaption>
    </article>
</div>


<div>
    <h2 class="the2000s">Modern Day Space Exploration</h2>
</div>

{% endblock %}

<!-- Dropdown Article Formatting

    <article>

        <div class="dropdown-info1">
            <div class="dropdownburger1">
                <div class="dropdownline11"></div>
                <div class="dropdownline21"></div>
            </div>
        </div>

    </article>

    <div class="dropdown-article1">
        <article>
            <h1 class="article-title">The Origianl Explorer Program</h1>
            <h2 class="year">Jan 1958 - Aug 1958</h2>

            <p class="article-para">
                error 404
            </p>

            <img class="article-img" src="images/___.jpg" alt="____">
            <figcaption class="imgCaptions"><a href="_____" target="_blank">_____________________</a></figcaption>
        </article>
    </div>


    JS

    var dropdownSlide = () => {
  var dropdownburger = document.querySelector(".dropdownburger__");
  var dropdown = document.querySelector(".dropdown-article__");
  //Toggle Nav
  dropdownburger.addEventListener("click", () => {
    dropdown.classList.toggle("dropdownburger-active___");

    //Burger Animation
    dropdownburger.classList.toggle("dropdowntoggle___");
  });
};


    CSS
    Just Add 1

-->